<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      
    </startup>
    <connectionStrings>
      <!--<add name="ConnectionStringName" connectionString="Data Source=DESKTOP-P8O01DJ;Initial Catalog=sandBrunch;user id=sa;password=deskpro" providerName="System.Data.SqlClient" />
      <add name="POS.Properties.Settings.SAGERPConnectionString" connectionString="Data Source=DESKTOP-P8O01DJ;Initial Catalog=sandBrunch;User ID=sa;Password=deskpro" providerName="System.Data.SqlClient" />-->
      <!--<add name="ConnectionStringName" connectionString="Data Source=IT-TRACK-OFFICE;Initial Catalog=CresentElectric;user id=sa;password=deskpro" providerName="System.Data.SqlClient" />
      <add name="POS.Properties.Settings.SAGERPConnectionString" connectionString="Data Source=IT-TRACK-OFFICE;Initial Catalog=CresentElectric;User ID=sa;Password=deskpro" providerName="System.Data.SqlClient" />-->

      <add name="ConnectionStringName" connectionString="Data Source=DESKTOP-900MKIP;Initial Catalog=SAGERP;user id=sa;password=deskpro" providerName="System.Data.SqlClient" />
        <add name="POS.Properties.Settings.SAGERPConnectionString" connectionString="Data Source=DESKTOP-900MKIP;Initial Catalog=SAGERP;User ID=sa;Password=deskpro" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>